.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  margin-bottom: 26px;
}

.cards .cards-card-content {
  border: 1px solid var(--blue-light);
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
  padding: 18px;
  height: 180px;
}

.cards .cards-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cards .cards-card-image img {
  /* NOTE - I'm having issues with getting the images to size properly so for not it's just cutting off any images that are a little too tall. Need to fix. */
}

.cards .cards-card-body {
  margin: 0;
  padding-left: 18px;
  overflow: hidden;
}

.cards .cards-card-body h4 {
  margin: 0;
}

.cards .cards-card-body p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0 0 0;
}

.cards .cards-card-cart-update {
  display: flex;
  justify-content: space-between;
  padding: 9px 30px;
  align-items: center;
}

.cards .cards-card-update-button button {
  height: 38px;
  width: 38px;
  background-color: var(--blue);
  font-size: x-large;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.cards .cards-card-update-button button:hover {
  background-color: var(--blue-light);
}

.cards .cards-card-update-button button:focus {
  outline: none;
}

.cards .cards-card-cart-item-count {
  font-family: var(--heading-font-family);
  font-size: x-large;
}
