.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  margin-bottom: 26px;
}

.cards .cards-card-content {
  border: 1px solid var(--blue-light);
  border-radius: 6px;
  overflow: hidden;
  padding: 18px;
  position: relative;
}

.cards .cards-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 125px;
  margin-bottom: 12px;
}

.cards .cards-card-image img {
  height: 125px;
  width: auto;
  object-fit: contain;
}

.cards .cards-card-body {
  margin: 0;
  height: 110px;
  overflow: hidden;
}

.cards .cards-card-body .img-wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
}

.cards .cards-card-body .img-wrapper span svg {
  height: 24px;
  width: 24px;
}

.cards .cards-card-body h4 {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.cards .cards-card-body .img-wrapper span:last-child{
  padding-left: 6px
}

.cards .cards-card-body p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* PICK YOUR PACK STYLING */
.cards .pick-your-pack {
  display: flex;
  background-color: blueviolet;
}

.cards .cards-card-cart-update {
  display: flex;
  justify-content: space-between;
  padding: 9px 30px;
  align-items: center;
}

.cards .cards-card-update-button button {
  height: 38px;
  width: 38px;
  background-color: var(--blue);
  font-size: x-large;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.cards .cards-card-update-button button:hover {
  background-color: var(--blue-light);
}

.cards .cards-card-update-button button:focus {
  outline: none;
}

.cards .cards-card-cart-item-count {
  font-family: var(--heading-font-family);
  font-size: x-large;
}
