.marquee-wrapper {
    margin: 0;
}

.marquee .marquee-container {
    width: 100vw;
    margin-left: calc(-50vw + 50%);   
    position: relative; 
    overflow: hidden;
    height: 60px;
    /* font-size: var(--body-size-l); */
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.marquee .marquee-content {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: marquee 30s linear infinite;
    will-change: transform;
}

.marquee .marquee-content:nth-of-type(2) {
    animation-delay: 15s;
    animation-name: marquee, marquee-visibility;
    visibility: hidden; /* Initially hidden */
    animation-fill-mode: forwards;
}

.marquee .marquee-content p {
    white-space: nowrap;
    margin: 0 20px;
}

.marquee .marquee-container p span svg {
    height: 50px;
    width: 50px;
    animation: spin 8s linear infinite;
}

@keyframes spin {
    from {
          transform: rotate(0deg);
      }
  
    to {
          transform: rotate(360deg);
      }
  }

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-visibility {
    0% { visibility: hidden; }
    1% { visibility: visible; } /* Becomes visible just before it starts moving */
    100% { visibility: visible; }
}

@media (width >= 900px) {
    .marquee .marquee-container {
        /* font-size: var(--body-size-xxl); */
    }
}
