.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns div {
  text-align: center;
}

.columns div h2,
.columns div p {
  text-align: left;
}

.columns > div > div {
  order: 1;
  padding: var(--spacing-m) 0;
  margin-top: var(--horizontal-spacing);
}

.columns > div > .col-img {
  order: 0;
  padding: 0;
}

.columns > div > .col-img img {
  display: block;
  height: calc(100dvw - (2 * var(--horizontal-spacing)));
  border-radius: var(--rounding-xl);
  object-fit: cover;
}

.columns > div > .col-img-complex {
  align-self: flex-start;
}

.columns > div > .col-img-complex img {
  display: block;
  max-height: 225px;
  border-radius: var(--rounding-xl);
  object-fit: contain;
  margin-bottom: var(--spacing-m);
}

.columns .button-wrapper {
  justify-content: center;
}

.columns > div > .col-img-complex > .img-wrapper svg {
  height: 225px;
  width: 225px;
  margin-bottom: var(--spacing-m);
}

@media (width >= 600px) {
  .columns div {
    text-align: unset;
    align-items: center;
    flex-direction: unset;
    gap: var(--horizontal-spacing);
  }

  .columns > div + div {
    margin-top: var(--spacing-s);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    align-self: center;
    margin-top: 0;
  }

  .columns > div > div + div {
    margin-top: 0;
  }

  .columns div:has(.col-img-complex) {
    gap: 0;
  }

  .columns > div > .col-img-complex {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    max-width: 33%;
    padding: 10px;
    align-items: flex-start;
    gap: 0;
  }

  .columns .button-wrapper {
    justify-content: unset;
  }

  /* stretch variant */
  .columns.stretch > div > div:not([class]) {
    max-width: max-content;
  }
}

@media (width >= 900px) {
  .columns > div > .col-img img {
    height: calc(50dvw - (2 * var(--horizontal-spacing)));
    max-height: 300px;
  }
}