.accordion summary {
  list-style: none;
  position: relative;
  margin: 20px 0 30px;
  scroll-margin-top: 20px;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-s);
  line-height: 3.2rem;
  cursor: pointer;
}

.accordion summary::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "\e95e";
  font-family: var(--icons-font-family);
  color: var(--color-dark-charcoal);
  font-size: var(--body-font-size-xxxs);
}

.accordion summary::-webkit-details-marker {
  display: none;
}

.accordion details[open] summary::after {
  content: "\e95d";
}

.accordion .accordion-content h3 {
  margin-bottom: 0;
  border-bottom: 1px solid var(--color-platinum);
}

.accordion .accordion-content p {
  letter-spacing: 0.25px;
  line-height: 1.75;
}

.accordion .accordion-content h3 + p {
  margin-top: 30px;
}

.accordion .accordion-content > div + div {
  margin-top: 50px;
}
