.highlight > div {
    margin: var(--spacing-xxl) 0;
}

.highlight.borderless > div > div p.img-wrapper picture img {
    border: none;
}

.highlight > div > div {
    height: 525px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 326px;
    position: relative;
}

.highlight > div > div h2 {
   padding: var(--spacing-m);
}

.highlight > div > div p {
    text-align: center;
}

.highlight > div > div p.img-wrapper picture img {
    border: 2px solid var(--blue);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.highlight > div > div p.button-wrapper {
    margin-top: auto;
    position: absolute;
    bottom: 0;
}

.highlight > div > div p.button-wrapper a {
    padding: 12px 20px;
    text-transform: lowercase;
    font-family: var(--heading-font-family);
    font-size: var(--heading-size-s);
}

@media (width >= 900px) {
    .highlight {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .highlight > div > div {
        margin: 0 var(--spacing-l);
    }
}