.banner {
    border: 2px var(--blue) solid;
    border-radius: 24px;
    padding: 24px;
}

.banner > div {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.banner .button-wrapper {
    justify-content: center;
}

.banner .banner-graphic {
    padding-bottom: 24px;
}

.banner .banner-graphic img {
    border-radius: 24px;
}

.banner .icon img,
.banner .icon svg {
    width: 100%;
    height: 250px;
}

.banner p.button-wrapper a.button {
    text-transform: lowercase;
    color: var(--white);
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--heading-font-family);
    font-size: var(--heading-size-m);
    line-height: 0;
    min-height: 50px;
    cursor: pointer;
    border-radius: 6px;
}

@media (width >= 600px) {
    .banner [data-align='center'] {
        text-align: center;
    }

    .banner [data-align='center'] .button-wrapper {
        justify-content: center;
    }

    .banner [data-align='right'] {
        text-align: end;
    }

    .banner [data-align='right'] .button-wrapper {
        justify-content: flex-end;
    }

    .banner > div {
        flex-flow: row;
    }   

    .banner .banner-graphic {
        min-width: 50%;
        max-width: 50%;
        padding-bottom: 0;
    }

    .banner .banner-content {
        padding: 0 var(--horizontal-spacing);
    }
}