.form form {
    display: flex;
    flex-flow: column;
}

.form label {
    font-size: var(--heading-size-xs);
    font-family: var(--heading-font-family);
    color: var(--blue);
    margin: 0;
}

.form 
input, 
textarea,
select {
    border: solid 2px var(--blue-light);
    margin-bottom: 20px;
    background-color: transparent;
    padding: 20px;
}

.form 
input::placeholder, 
textarea::placeholder {
   color: var(--blue-light);
}

.form .form-radio {
    padding: 12px 0;
}

/* .form .form-radio {
   padding: 4px;
} */

/* .form .form-radio > div > div {
   display: flex;
} */

/* .form .form-radio > div > div input {
    margin: 0; */
    /* background-color: transparent; */
    /* color: var(--blue); */
    /* height: 20px;
    width: 20px;
} */

/* .form .form-radio > div label {
    margin-left: 12px;
} */

/* .form .form-radio input {
    background-color: pink;
} */

.form .form-radio input[type='radio'] {
    background-color: tomato;
}

.form .form-radio label.has-child {
    background-color: green;
}

.form .form-checkbox {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 0;
}

.form .form-checkbox input {
   margin: 0 12px 0 0;
   height: 20px;
   width: 20px;
   border-radius: 100%;
}

.form .form-submit {
    align-self: center;
}

.form .form-submit button {
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--heading-font-family);
    font-size: var(--heading-size-m);
    line-height: 0;
    min-height: 50px;
    min-width: 300px;
    cursor: pointer;
    border-radius: 6px;
}