
.promo.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0B21E330;
    z-index: 5;
}

.promo > .promo-container {
    position: relative;
    border: var(--border-m) solid var(--blue);
    border-radius: 24px;
    padding: var(--horizontal-spacing);
}

.promo.popup > .promo-container {
    position: fixed;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    min-height: fit-content;
    min-width: 90vw;
    overflow: auto;
    background-color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 12px;
}

.promo > .promo-container > div {
    display: flex;
    flex-flow: column;
}

.promo > .promo-container > div:nth-child(1) img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.promo > .promo-container > div .icon svg {
    width: 100%;
    height: 250px;
}

.promo > .promo-container > div:nth-child(1) {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.promo.banner > .promo-container > div > div:nth-child(2) {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.promo > .promo-container p.button-wrapper a.button {
    text-transform: lowercase;
    color: var(--white);
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--heading-font-family);
    font-size: var(--heading-size-m);
    line-height: 0;
    min-height: 50px;
    cursor: pointer;
    border-radius: 6px;
}

.promo > .promo-container .close-button {
    font-size: var(--heading-size-xxl);
    font-family: var(--heading-font-family);
    color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: var(--spacing-m);
    height: 60px;
    width: 60px;
    line-height: var(--line-hight-s);
    padding: 5px;
}

.promo > .promo-container .close-button:hover {
    background-color: var(--blue-lightest);
    border-radius: 50%;
}

.promo .success-message {
    color: var(--green);
    margin: var(--horizontal-spacing);
    text-align: center;
    font-family: var(--heading-font-family);
    font-size: var(--heading-size-xs);
}

.promo.banner .promo-container .img-wrapper img {
    padding: var(--horizontal-spacing) 0;
}

@media (width >= 600px) {
    .promo.popup > .promo-container {
        min-width: 60vw;
    }

    .promo.banner > .promo-container > div {
        flex-flow: row;
    }

    .promo.banner > .promo-container > div > div:nth-child(1) p {
        width: 35vw;
    }

    .promo.banner > .promo-container > div > div:nth-child(2) {
        margin-left: var(--horizontal-spacing);
        text-align: left;
        align-items: flex-start
    }
}

@media (width >= 900px) {
    .promo.popup > .promo-container {
        min-width: 40vw;
    }
}