.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: var(--white);
    padding: var(--spacing-xl);
}

.modal .modal-header {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--heading-size-xl);
    font-family: var(--heading-font-family);
}

.modal .modal-content {
    align-self: center;
    display: flex;
    flex-flow: column;
}

.modal .modal-close-btn {
    color: var(--blue);
    cursor: pointer;
}

@media (width >= 900px) {
    .modal > div {
        display: flex;
        flex-flow: column;
    }

    .modal .modal-header {
        width: var(--site-width);
    }
    
    .modal .modal-content {
        width: var(--site-width);
    }
}