.label > div > div {
    margin: 75px 0;
}

.label.fill > div, 
.label.centered > div > div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.label.right-align > div > div {
    display: flex;
    flex-flow: column;
    align-items: end;
    text-align: right;
}

.label.fill > div > div {
    background-color: var(--blue);
    border-radius: 12px;
    color: var(--white);
    padding: 40px;
}

.label > div > div > h1,
.label > div > div > div > h1 {
    font-size: 80px;
}

.label .label-title-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 14px;
}

.label > div > div > h1 > .icon svg, 
.label .label-title-container .icon svg {
    width: 90px;
    height: 90px;
    margin: 0 20px;
}

.label.fill .label-title-container .icon svg {
    color: var(--white);
}

.label > div > div > p {
    margin-top: 0;
}

.label > div > div > h2 {
    font-size: 40px;
}

@media (width >= 600px) {
    .label.centered > div > div,
    .label.fill > div > div {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 0 150px;
    }

    .label.fill > div > div {
        padding: 60px;
    }

    .label .label-title-container {
        flex-flow: row;
    }

    .label > div > div > h1,
    .label > div > div > div > h1 {
        display: flex;
        align-items: center;
    }

    .label .label-title-container > h1 {
        line-height: 40px;
        padding-top: 20px;
    }

    .label > div > div > p {
        font-size: 18px;
    }
}