.wholesale .columns > div {
    /* flex-flow: column-reverse; */
    align-items: normal;
}

.wholesale .columns > div > div:first-of-type {
    /* background-color: tomato; */
    /* text-align: center; */
}

/* TODO - should be first on mobile */
.wholesale .columns > div > div:last-of-type {
    /* background-color: aquamarine; */
    /* text-align: center;  */
}

.wholesale .table-form-submit-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.wholesale .table-form-submit-wrapper button {
    height: 50px;
    width: 300px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 6px;
    font-family: var(--heading-font-family);
    font-size: var(--heading-size-s);
    border: none;
    cursor: pointer;
    margin: 20px 0;
    transition: background-color 0.3s ease;
}

.wholesale .table-form-submit-wrapper.invalid button {
    background-color: var(--red);
}

.wholesale .error-messages {
    color: var(--red);
    text-transform: lowercase;
}

.wholesale tbody th:not(:first-child) {
    text-align: center;
}

.wholesale tbody td:not(:first-child) {
    text-align: center;
}

.wholesale.modal .cart .cart-content-wrapper > .cart-quantity-wrapper button {
display: none;}