.wholesale {
   text-transform: lowercase;
}

.wholesale .default-content-wrapper:first-of-type {
   display: flex;
   justify-content: center;
   flex-flow: column;
   align-items: center;
   height: 202px;
}

.wholesale .columns > div {
    display: flex;
    flex-flow: column;
}

.wholesale .columns > div > div {
    width: 100%;
}

.wholesale .table-form-submit-wrapper,
.wholesale .wholesale-password-form.invalid .form-submit {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.wholesale .table-form-submit-wrapper button {
    height: 50px;
    width: 300px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 6px;
    font-family: var(--heading-font-family);
    font-size: var(--heading-size-s);
    border: none;
    cursor: pointer;
    margin: 20px 0;
    transition: background-color 0.3s ease;
}

.wholesale .table-form-submit-wrapper.invalid button,
.wholesale .wholesale-password-form.invalid button {
    background-color: var(--red);
}

.wholesale .error-messages {
    color: var(--red);
    text-transform: lowercase;
}

.wholesale tbody th:not(:first-child) {
    text-align: center;
}

.wholesale tbody td:not(:first-child) h4 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.wholesale.modal .cart .cart-content-wrapper > .cart-quantity-wrapper button {
    display: none;
}

.wholesale .wholesale-closed-container {
    align-self: center;
    margin: var(--spacing-xxl);
    padding: var(--spacing-xxl);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 450px;
}

@media (min-width: 900px) {
    .wholesale .default-content-wrapper:first-of-type {
        height: 84px;
     }
}

@media (min-width: 1920px) {
    .wholesale .wholesale-closed-container {
        height: 600px;
    }
}