.table-container {
    margin-bottom: 32px;
}

.table-container > div.table-wrapper {
    margin-bottom: 0;
}

.table-container > .table-wrapper + .table-wrapper {
    margin-top: 0;
}

.table {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.table table {
    border-spacing: 0;
    width: 100%;
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
}

.table table thead th,
.table table tbody tr th {
    padding: 0 12px;
    border-bottom: 2px solid var(--blue);
    font-family: var(--heading-font-family);
    font-size: var(--heading-size-xs);
    text-transform: uppercase;
    background-color: var(--blue-lightest);
}

.table table thead th:first-child {
    text-align: left;
    border-right: 2px solid var(--blue);
}

.table table tbody tr th:first-child {
    text-align: left;
    border-right: 2px solid var(--blue);
}

.table table thead th:last-child {
    width: 125px;
}

.table table tbody tr th:last-child {
    width: 125px;
}

.table table tbody tr td {
    padding: 16px 12px;
    border-bottom: 2px solid var(--blue);
}

.table table tbody tr td:first-child {
    border-right: 2px solid var(--blue);
    position: relative;
}

.table table tbody tr td:first-child p:first-child {
    font-family: var(--heading-font-family);
    font-size: var(--heading-size-l);
    margin: 0;
}

.table table tbody tr td:first-child p:not([class]) {
    margin-right: 30px;
    margin-bottom: 0;
}

.table table tbody tr:last-of-type td {
    border-bottom: 2px solid var(--blue);
}

.table table tbody tr td:first-child .img-wrapper {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    top: 50%;
    right: 0;
    bottom: 50%;
}

.table table tbody tr td:first-child .img-wrapper svg {
    height: 24px;
    width: auto;
 }
 
.table table tbody tr td:first-child .img-wrapper span:first-of-type {
    padding-bottom: 6px
}

.table table tbody tr td:last-child {
    text-align: center;
    font-size: var(--heading-size-l);
    font-family: var(--heading-font-family);
    margin: 0;
}

.table table tbody tr td:last-child input {
    background-color: var(--white);
    border: none;
    text-align: center;
}


.table table tbody tr td:last-child 
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
    margin: 0;
}

.table table tbody:last-of-type tr:last-child td{
   border-bottom: none;
}

.table table tbody tr td:last-child p input[type='number'] {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -moz-appearance: textfield;
}

@media (width >= 900px) {
    .table {
        width: 100%;
        margin-left: auto;
    }

    .table table {
        border-right: 2px solid var(--blue);
        border-left: 2px solid var(--blue);
    }
}