.table-container {
    margin-bottom: 32px;
}

.table-container > div.table-wrapper {
    margin-bottom: 0;
}

.table-container > .table-wrapper + .table-wrapper {
    margin-top: 0;
}

.table > div {
    padding: 0 !important;
}

.table table {
    border-spacing: 0;
    width: 100%;
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
}

.table table thead th,
.table table tbody tr th {
    padding: 0 12px;
    border-bottom: 2px solid var(--blue);
    font-family: var(--heading-font-family);
    font-size: var(--heading-size-xs);
    text-transform: uppercase;
    background-color: var(--blue-lightest);
}

.table table tbody tr th {
    text-align: left;
    border-right: 2px solid var(--blue);
}

.table table thead tr th:first-child {
    text-align: left;
}

.table table tbody tr th:last-of-type {
    border-right: none;
}

.table table tbody tr td {
    padding: 16px 12px;
    border-bottom: 2px solid var(--blue);
    border-right: 2px solid var(--blue);
    position: relative;
}

.table table tbody tr td h4 {
    font-size: var(--heading-size-xs);
    display: flex;
}

.table table tbody tr td h4 span {
    padding-left: 2px;
}

.table table tbody tr td p {
    font-size: var(--body-size-s);
}

.table table tbody tr td:first-child p:first-child {
    font-family: var(--heading-font-family);
    font-size: var(--heading-size-l);
    margin: 0;
}

.table table tbody tr td:first-child p:not([class]) {
    margin-right: 30px;
    margin-bottom: 0;
    text-align: left;
}

.table table tbody tr:last-of-type td {
    border-bottom: 2px solid var(--blue);
}

.table table tbody tr td:last-child {
    text-align: center;
    font-size: var(--heading-size-l);
    font-family: var(--heading-font-family);
    margin: 0;
    border-right: none;
}

.table table tbody tr td:last-child input {
    background-color: var(--white);
    border: 2px solid var(--blue-light);
    text-align: center;
    padding: 10px 0;
}


.table table tbody tr td:last-child 
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
    color: var(--blue);
    margin: 0;
}

.table table tbody:last-of-type tr:last-child td {
   border-bottom: none;
}

.table table tbody tr td:last-child p input[type='number'] {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -moz-appearance: textfield;
}

@media (width >= 900px) {
    .table {
        width: auto;
        margin-left: 0;
    }

    .table table {
        border-right: 2px solid var(--blue);
        border-left: 2px solid var(--blue);
    }

    .table table tbody tr td {
        padding: 16px 12px;
        width: 600px;
    }

    .table table tbody tr td h4 {
        font-size: var(--heading-size-m);
    }

    .table table tbody tr td h4 span {
        padding-left: 6px;
    }
}