.table-container {
    margin-bottom: 32px;
}

.table-container > div.table-wrapper {
    margin-bottom: 0;
}

.table-container > .table-wrapper + .table-wrapper {
    margin-top: 0;
}

.table-container .table-wrapper:last-child .table {
    border-top: none;
}

.table {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border-right: 2px solid var(--blue);
    border-top: 2px solid var(--blue);
    border-left: 2px solid var(--blue);
}

.table {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.table table {
    border-spacing: 0;
}

.table thead th {
    border-bottom: 2px solid var(--blue);
    background-color: var(--blue-lightest);
}

.table thead th h2 {
    font-size: var(--body-size-xl);
    margin: 0;
    padding: 10px 16px;
}

.table thead th {
    text-align: left;
}

.table thead th:nth-of-type(1) {
    text-align: left;
    border-right: 2px solid var(--blue);
}

.table table tbody td {
    border-bottom: 2px solid var(--blue);
    padding-left: 16px;
    padding: 16px;
    position: relative;
}

.table table tbody td:nth-of-type(1) {
    border-right: 2px solid var(--blue);
}

.table table tbody td h3 {
    margin: 0
}

.table table tbody td p {
    font-size: var(--body-size-s);
    margin-top: 0;
}

.table table tbody td p:not([class]) {
    margin-right: 20px;
}

.table .img-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 50%;
}

.table .img-wrapper svg {
   height: 24px;
   width: auto;
}

.table .img-wrapper span:first-of-type {
    padding-bottom: 6px
}

@media (width >= 900px) {
    .table {
        width: 100%;
        margin-left: auto;
    }

    .table thead th h2 {
        font-size: var(--body-size-xxl);
        margin: 0;
        padding: 10px 16px;
    }
}