.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    padding: var(--spacing-l);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--white);
}

.modal > div > div p.img-wrapper picture img {
    height: 500px;
    width: auto;
}

.modal .modal-close-btn {
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--horizontal-spacing);
    font-size: var(--heading-size-s);
    color: var(--blue);
    border: none;
    cursor: pointer;
    font-size: var(--heading-size-xl);
}

.modal .modal-close-btn:focus:not(:focus-visible) {
    outline: none;
    border: none;
    box-shadow: none;
}

.modal-btn {
    height: 50px;
    width: 300px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 6px;
    font-family: var(--heading-font-family);
    font-size: var(--heading-size-s);
    border: none;
    cursor: pointer;
    margin: 20px 0;
    transition: background-color 0.3s ease;
}