footer {
  padding: var(--spacing-xxxxl) var(--horizontal-spacing) 38.25px;
  font-size: var(--body-size-xs);
  background-color: var(--blue-lightest);
  text-align: center;
}

footer .button-wrapper {
  justify-content: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer section {
  max-width: 1200px;
  margin: 0 auto;
}

footer section .default-content-wrapper {
  width: 75%;
  margin: auto;
}

@media (width >= 900px) {
  footer {
    text-align: unset;
  }

  footer .footer {
    width: 75%;
    max-width: 750px;
    margin: auto;
  }

  footer section {
    display: grid;
    grid-template:
      'brand contact' auto
      'socials socials' auto
      'legal legal' 1fr / min-content auto;
    gap: 0 max(calc((750px - var(--header-width)) / 3), 200px);
  }

  footer section .default-content-wrapper {
    width: 100%;
    margin: unset;
  }
}

/* brand */
footer .footer-brand p {
  grid-area: brand;
  font-size: larger;
}

/* contact */
footer .footer-contact {
  grid-area: contact;
  margin-top: var(--spacing-xxl);
}

footer .footer-contact ul {
  margin-top: 38.25px;
}

@media (width >= 900px) {
  footer .footer-contact {
    text-align: right;
    margin-top: 0;
  }

  footer .footer-contact a {
    display: inline-block;
    padding: 5px 0; /* to increase touch-target size to minimum 24px */
  }
}

/* socials */
footer .footer-socials {
  grid-area: socials;
  margin-top: 38.25px;
  padding-top: 38.25px;
}

footer .footer-socials ul a.button {
  border-radius: 50%;
  padding: 1em;
  background-color: transparent;
  line-height: 0;
}

/* legal */
footer .footer-legal {
  grid-area: legal;
  margin-top: 38.25px;
  border-top: 1px solid;
  padding-top: 38.25px;
}

footer .footer-legal u {
  text-decoration: none;
}

footer .footer-legal a:any-link {
  text-decoration: underline;
}

footer .footer-legal ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer .footer-legal ul li:not(:last-of-type)::after {
  content: '|';
  margin: 0 1ch;
}
