/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url('colors.css');
@import url('containers.css');
@import url('typography.css');

:root {
  /* brand */
  --white: #FFFCF3;
  --blue: #0B21E3;
  --blue-light: #828EFA;
  --blue-lightest: #EFF1FB;
  --primary: var(--blue);
  --pale-pink: #E0CCD5;
  --pale-orange: #E0D1CC;
  --pale-yellow: #E0DFCC;
  --pale-green: #D6E0CC;
  --pale-teal: #CCE0DF;
  --pale-blue: #CCD7E0;
  --pale-purple: #D5CCE0;
  --gradient: conic-gradient(
    var(--pale-orange),
    var(--pale-pink) 15%,
    var(--pale-teal),
    var(--pale-purple) 35%, 
    var(--pale-blue) 56.25%,
    var(--pale-teal),
    var(--pale-green) 75%,
    var(--pale-yellow) 81.25%, 
    var(--pale-orange));

  /* layers */
  --layer-elevated: var(--white);
  --layer-base: var(--layer-elevated);
  --layer-depth: var(--gray-50);
  --layer-pasteboard: var(--gray-100);

  /* colors */
  --color-background: var(--layer-base);
  --color-text: var(--primary);
  --color-link: var(--blue);
  --color-link-hover: var(--blue-light);

  /* fonts */
  --body-font-family: poppinsregular, poppinsregular-fallback, sans-serif;
  --heading-font-family: var(--body-font-family);
  --code-font-family: monospace;

  /* spacing */
  --spacing-xxl: var(--spacing-600);
  --spacing-xl:  var(--spacing-500);
  --spacing-l:   var(--spacing-400);
  --spacing-m:   var(--spacing-300);
  --spacing-s:   var(--spacing-200);
  --spacing-xs:  var(--spacing-100);

  /* shadows */
  --shadow-default: 0 1px 6px 0 var(--transparent-black-300);
  --shadow-hover: 0 2px 8px 0 var(--transparent-black-300);
  --shadow-dragged: 0 3px 12px 0 var(--transparent-black-300);

  /* widths and heights */
  --header-height: 78px;
  --header-width: 140px;
  --horizontal-spacing: var(--spacing-l);
  --site-width: 1200px;
}

@media (width >= 900px) {
  :root {
    /* widths and heights */
    --header-height: 68px;
    --horizontal-spacing: var(--spacing-xl);
  }
}

/* fallback font */
@font-face {
  font-family: poppinsregular;
  size-adjust: 110.471%;
  src: local('Arial');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--color-background);
}

body {
  display: none;
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-size-l);
  line-height: var(--line-height-m);
  background-color: var(--layer-base);
  color: var(--color-text);
}

body.appear {
  display: block;
}

body[data-scroll='disabled'] {
  overflow-y: hidden;
}

body ::selection {
  background-color: yellow;
  color: var(--color-text);
}

header {
  min-height: var(--header-height);
  transition: height 0.2s, min-height 0.2s;
}

header,
header .header,
footer,
footer .footer {
  visibility: hidden;
}

header.appear,
header .header[data-block-status='loaded'],
footer.appear,
footer .footer[data-block-status='loaded'] {
  visibility: visible;
}

main {
  margin-top: var(--header-height);
  max-width: var(--site-width);
}

@media (width >= 900px) {
  body {
    max-width: var(--site-width);
    margin: auto;
    padding-top: 0.1ch;
    padding-left: var(--header-width);
    min-height: 100dvh;
  }

  main {
    max-width: calc(100% - (2 * var(--horizontal-spacing)));
    margin: var(--header-height) auto 0;
  }
}

@media (width >= 1200px) {
  body {
    border-right: var(--border-m) solid;
  }
}

@media (width >= 1264px) {
  main {
    max-width: var(--site-width);
  }
}

/* sections */
main > .section > div {
  margin: var(--horizontal-spacing) auto;
  padding: 0 var(--horizontal-spacing);
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0;
  }
}

@media (width >= 1264px) {
  main > .section > div {
    padding: 0 var(--horizontal-spacing);
  }
}

/* section metadata */
main .section.light {
  background-color: var(--gray-100);
}

main .section.dark {
  background-color: var(--gray-600);
}

/* images and icons */
p.img-wrapper {
  margin: 0;
  line-height: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.icon svg,
.icon img {
  width: 1em;
  height: 1em;
  fill: currentcolor;
  color: currentcolor;
  transition: fill 0.2s;
}

i.symbol {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

i.symbol::before,
i.symbol::after {
  content: '';
  position: absolute;
}

i.symbol.symbol-loading {
  border: var(--border-m) solid;
  border-radius: 50%;
}

i.symbol.symbol-loading::after {
  inset: calc(-1 * var(--border-m));
  border: inherit;
  border-right-color: var(--color-link);
  border-radius: inherit;
  animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.125em;
  margin-bottom: 0.25em;
  scroll-margin: 1em;
  font-family: var(--heading-font-family);
  font-weight: var(--weight-extrabold);
  line-height: var(--line-height-l);
}

h1 {
  font-size: var(--heading-size-xxl);
}

h2 {
  font-size: var(--heading-size-xl);
}

h3 {
  font-size: var(--heading-size-l);
}

h4 {
  font-size: var(--heading-size-m);
}

h5 {
  font-size: var(--heading-size-s);
}

h6 {
  font-size: var(--heading-size-xs);
}

p,
ol,
ul,
dl,
pre,
blockquote {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

pre,
code,
kbd,
samp,
var {
  font-family: var(--code-font-family);
  font-size: var(--body-size-m);
}

pre {
  border-radius: var(--rounding-l);
  padding: var(--spacing-m);
  background-color: var(--layer-depth);
  overflow-x: auto;
}

pre::-webkit-scrollbar {
  height: 24px;
}

pre::-webkit-scrollbar-thumb {
  background-color: var(--gray-500);
  border: 8px solid var(--layer-depth);
  border-radius: 12px;
}

pre::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-600);
}

code,
kbd,
samp,
var {
  border-radius: var(--rounding-s);
  padding: 0 0.25em;
  background-color: var(--layer-depth);
}

.detail {
  margin-top: 1.125em;
  margin-bottom: 0.25em;
  line-height: var(--line-height-m);
}

/* links */
a:any-link {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

a:focus {
  outline: var(--border-m) solid var(--color-link);
  outline-offset: var(--border-m);
}

/* buttons */
.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s);
}

a.button,
button.button {
  display: inline-block;
  border: var(--border-s) solid var(--color-link);
  border-radius: 1.15em;
  padding: 0.4em 1.15em;
  background-color: var(--color-link);
  color: var(--color-background);
  font-size: inherit;
  font-weight: var(--weight-medium);
  text-align: center;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  cursor: pointer;
}

a.button:hover,
button.button:hover,
button.button:focus {
  border-color: var(--color-link-hover);
  background-color: var(--color-link-hover);
  color: var(--color-background);
  text-decoration: none;
}

button.button:disabled,
button.button:disabled:hover,
button.button:disabled:focus {
  border-color: var(--gray-100);
  background-color: var(--gray-100);
  color: var(--gray-400);
  cursor: not-allowed;
}

a.button.emphasis,
button.button.emphasis {
  border-color: var(--gray-800);
  background-color: var(--gray-800);
}

a.button.emphasis:hover,
button.button.emphasis:hover,
button.button.emphasis:focus {
  border-color: var(--gray-900);
  background-color: var(--gray-900);
}

a.button.outline,
button.button.outline {
  border-color: var(--color-link);
  background-color: var(--color-background);
  color: var(--color-link);
}

a.button.outline:hover,
button.button.outline:hover,
button.button.outline:focus {
  border-color: var(--color-link-hover);
  background-color: var(--blue-100);
  color: var(--color-link-hover);
}

button.button.outline:disabled,
button.button.outline:disabled:hover,
button.button.outline:disabled:focus {
  border-color: var(--gray-100);
  background-color: var(--color-background);
  color: var(--gray-400);
}

a.button.accent,
button.button.accent {
  border-color: transparent;
  color: var(--color-text);
  background: var(--gradient);
}

a.button.accent:hover,
button.button.accent:hover,
button.button.accent:focus {
  color: var(--color-background);
}

a.button.ghost,
button.ghost {
  border-color: transparent;
  background-color: transparent;
  color: var(--color-text);
}

a.button.ghost:hover,
button.button.ghost:hover,
button.button.ghost:focus {
  border-color: var(--color-link-hover);
  background-color: var(--color-link-hover);
  color: var(--color-background);
}

/* form elements */
input,
textarea,
select,
button {
  max-width: 100%;
  font: inherit;
  transition: border-color 0.2s;
}

input,
textarea,
select {
  width: 100%;
  border: var(--border-m) solid var(--gray-300);
  border-radius: var(--rounding-m);
  padding: 0.4em 0.85em;
  color: var(--color-text);
}

button,
fieldset {
  appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

label,
legend,
.field-help-text,
.form-error {
  color: var(--gray-700);
  font-size: var(--body-size-m);
}

input:hover,
textarea:hover,
select:hover {
  border-color: var(--gray-400);
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: var(--border-m) solid var(--color-link);
  outline-offset: var(--border-m);
  border-color: var(--color-text);
  color: var(--gray-900);
}

input:disabled,
input:hover:disabled,
input:focus:disabled,
textarea:disabled,
textarea:hover:disabled,
textarea:focus:disabled,
select:disabled,
select:hover:disabled,
select:focus:disabled {
  border-color: var(--gray-100);
  background-color: var(--color-background);
  color: var(--gray-400);
}

input[readonly],
textarea[readonly],
select[readonly] {
  border-color: var(--gray-300)
}

input[readonly]:focus,
textarea[readonly]:focus,
select[readonly]:focus {
  outline: 0;
}

input[type='checkbox'],
input[type='radio'] {
  width: unset;
}

.form-field + .form-field {
  margin-top: var(--spacing-l);
}

.form-error {
  margin-top: 0.5em;
  color: var(--red-900);
}

.field-help-text {
  margin-top: 0.5em;
}

.field-help-text p {
  margin: 0;
}
